<div class="card">
  <div class="card-body" id="card-messages" (scroll)="scrollEvent()">
    <div *ngIf="messages?.length === 0">
      <p>No messages yet... say hello to start conversation</p>
    </div>

    <ul class="chat">
      <li *ngFor="let message of messages">

        <div *ngIf="message.senderId == recipientId" class="hismessage" (click)="ShowTimeAgo(histimeago)">
          <span class="chat-img float-left">
            <img src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}" class="rounded-circle">
          </span>
          <div class="chat-body">
            <div class="header">
              <strong class="primary-font float-left mr-2">{{message.senderKnownAs}}</strong>
              <small #histimeago class="text-muted float-right timeago hidden ml-2">
                <span class="fa fa-clock-o">{{message.messageSent | timeAgo}}</span>
              </small>
            </div>
            <p>{{message.content}}</p>
          </div>
        </div>


        <div *ngIf="message.senderId != recipientId" class="mymessage" (click)="ShowTimeAgo(mytimeago)">
          <span class="chat-img float-right">
            <img src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}" class="rounded-circle">
          </span>
          <div class="chat-body">
          <div class="header">
            <small #mytimeago class="text-muted timeago float-left hidden mr-2">
              <span class="fa fa-clock-o">{{message.messageSent | timeAgo}}</span>
              <span *ngIf="!message.isRead" class="text-danger">(unread)</span>
              <span *ngIf="message.isRead" class="text-success">(Read {{message.dateRead | timeAgo}})</span>
            </small>
            <strong class="primary-font float-right ml-2">{{message.senderKnownAs}}</strong>
          </div>
          <p>{{message.content}}</p>
        </div>
        </div>
      </li>
    </ul>

    <div *ngIf="activityNotified" class="loadingContainer">
      <div class="ball1"></div>
      <div class="ball2"></div>
      <div class="ball3"></div>
    </div>

    <div class="card-footer">
      <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
        <div class="input-group">
          <input type="text"
            (input)="onInput($event.srcElement.value)"
            class="form-control input-sm"
            placeholder="send a private message"
            [(ngModel)]="newMessage.Content"
            name="content"
            required>
          <div class="input-group-append">
            <button class="btn btn-primary" [disabled]="!messageForm.valid">Send</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
